.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: slide 2s linear infinite;
    cursor: pointer;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(200px);
    }
  }
  
  .paused {
    animation-play-state: paused;
  }